@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

body {
  font-family: 'Ariel', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  /* position: fixed; */
  /* overflow: hidden; */
  top: 0;
  background: white;
  /* z-index: 5; */
  width: 100%;
  color: black;
  align-items: center;
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.navbar-img {
  height: auto;
}

.navbar-logo {
  height: 60px;
  padding: 10px;
}
/* --------------- input form ccs ------------------ */

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: 'Roboto', sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  color: rgb(189, 3, 3);
}

button {
  /* background: #4caf50; */
  /* color: white; */
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* ------------ modal css ------------- */

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.cancelBtn {
  background-color: crimson;
}
