@import url(https://fonts.googleapis.com/css?family=Roboto:400);

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

nav {
  color: white;
  text-align: center;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  /* position: fixed; */
  /* overflow: hidden; */
  top: 0;
  background: #30332c;
  color: white;
  /* z-index: 5; */
  width: 100%;
  color: black;
  align-items: center;
  text-align: center;
}

.nav-logout {
  margin-top: 5px;
}

.nav-icon {
  align-items: center;
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid lightgray;
  align-items: center;
}

.navbar-img {
  height: auto;
  align-items: center;
}

.nav-links {
  align-items: center;
}

.navbar-logo {
  height: 55px;
  padding: 10px;
  align-items: center;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* --------------- input form ccs ------------------ */

.form-container {
  width: 300px;
  height: 340px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.register-form button {
  margin-top: 15px;
}

.success-message {
  font-family: 'Roboto', sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  color: rgb(189, 3, 3);
}

button {
  background: #ffb545;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
