@import url(https://fonts.googleapis.com/css?family=Roboto:400);

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

nav {
  color: white;
  text-align: center;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.auth-form {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  background: #30332c;
  color: white;
  z-index: 5;
  width: 100%;
  color: black;
  align-items: center;
  text-align: center;
}

.nav-logout {
  margin-top: 5px;
}

.nav-icon {
  align-items: center;
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid lightgray;
  align-items: center;
}

.navbar-img {
  height: auto;
  align-items: center;
}

.nav-links {
  align-items: center;
}

.navbar-logo {
  height: 55px;
  padding: 10px;
  align-items: center;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* --------------- input form ccs ------------------ */

.form-container {
  width: 300px;
  height: 340px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* text-align: center; */
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.register-form button {
  margin-top: 15px;
}

.success-message {
  font-family: 'Roboto', sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  color: rgb(189, 3, 3);
}

.form-button {
  background: #f8a66f;
  width: 180px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.form-button:hover {
  background: #f78438;
}

button:disabled {
  cursor: default;
}

/* -------------------shopping list css-------------------- */

.shopping-list {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 40%;
}

.no-recipes {
  margin-top: 80px;
  align-items: center;
  text-align: center;
}

.list-container {
  position: absolute;
  overflow: hidden;
  margin-top: 120px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  background-color: #ffffff;
  min-width: 450px;
  min-height: 600px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 50px;
}

.list-header h2 {
  color: #30332c;
  text-align: center;
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 30px;
}
/* ---input field goes here if necessary-- */
.list-item {
  display: flex;
  /* margin: 10px 0; */
  margin-top: 7px;
  border: 1px solid rgb(173, 173, 173);
  color: #30332c;
  border-radius: 10px;
  padding: 10px;
  max-height: 20px;
  font-weight: bold;
  transition: 0.5s;
  /* text-decoration: line-through; */
}

.list-item:hover {
  background-color: #b1d7ac;
}

.list-item-text {
  font-size: 15px;
  text-align: center;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #ffa175;
  margin-right: 10px;
}

.button-edit {
  color: #fff175;
  margin-right: 10px;
}

.button-delete {
  color: #81bb58;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ffa175;
  opacity: 0.6;
}

.list {
  width: 220px;
  border: none;
  color: #30332c;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus button:focus {
  outline: none;
}
